<form #formRef="ngForm" novalidate>
    <div class="form-group"
         [ngClass]="{'has-error': !formRef.controls.healthNumber?.valid && (healthNumberRef.touched || showError)}">
        <label class="control-label" for="healthNumber{{objectId}}"
               [innerHTML]="lang('./en/index.js').healthNumberLabel"></label>
        <input type="text" pattern="^[A-Za-z]{2}\d{6}[A-Za-z]{1}$"
               [ngModel]="healthNumber"
               (ngModelChange) = "updateHealthNumber($event)"
               minlength="1"
               maxlength="50" required="true"
               id='healthNumber{{objectId}}' name='healthNumber' #healthNumberRef="ngModel"
               class="form-control assist-no-show">
        <div *ngIf='!formRef.controls.healthNumber?.valid && (healthNumberRef.touched || showError)' role="alert" aria-live="assertive">
            <div class="text-danger"
                 [innerHTML]="lang('./en/index.js').healthNumberErrorHealthNumberCheck"></div>
        </div>
    </div>
</form>
