.input {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-style: italic;
    font-weight: 500;
    line-height: 1.1;
    color: #494949;
  
  }

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-style: italic;
    width: 90%;
}