// Declare primary font
@font-face {
    font-family: 'Myriad-Pro';
    src: url('fonts/MyriadWebPro.ttf');
}

//------------------------------------------------------------------------------
// Customizing which bootstrap files get imported, copied from bootstrap.scss
// Overriding the "variables.scss" file with our custom theme
//------------------------------------------------------------------------------

// Comment out unused component styles, so they won't be bundled in final CSS.
// If they're ever used in the future we can just un-comment.

// Core variables and mixins
@import "styles/variables.scss";
// @import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

//---------------------------------------------------------------------------------

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";
$fa-font-path: '~font-awesome/fonts';
@font-face {
    font-family: 'FontAwesome';
    src: url('#{$fa-font-path}/fontawesome-webfont.ttf?v=${fa-version}') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "~font-awesome/scss/core";
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader";
$icon-font-path: '~bootstrap/fonts/';
@import 'styles/overrides.scss';
@import 'styles/additions.scss';

// Set a base font-size in px to ensure that we don't just use the browser's
// default text size. We use rems for font-sizes everywhere else.
html {
  font-size: 16px;

  // Optional - This may be removed!
  // Left in because it really demonstrates the value of rem based designs. We
  // can scale the entire layout, from element sizing to padding, just by
  // changing font-size here.
  @include media-breakpoint-up(sm){
    font-size: 14px;
  }
}

#cid-gui {
  position: fixed;
  left: 1em;
  background: rgba(0, 0, 0, 0.80);
  padding: 2em;
  bottom: 1em;
  z-index: 10;
  color: white;
  transition: 0.5s ease-in-out;
  max-width: 185px;
  border-radius: 5px;
}

#cid-gui.closed {
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05) !important;
  left: -185px !important;
}

#cid-gui.collapsed {
  transition: 0.3s ease;
  padding-right: 1em;
  left: -120px;
}

#cid-gui.collapsed > button > i {
  float: right;
  font-size: 18px;
  margin-left: 20px;
}

#cid-gui > #minimize-button {
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.5s;
}

#cid-gui.collapsed > #minimize-button {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#cid-gui > button {margin-top: 1em;}
#cid-gui > h4 { transition: 0.3s;}
#cid-gui h4 {color: white;}
#cid-gui.collapsed > h4 { opacity: 0; height: 0;}
#cid-gui.collapsed > #minimize-button {right: 1em;}
#cid-gui > #minimize-button > button { color: white;}
#cid-gui > #minimize-button > button:focus { outline: none;}

@media (max-width: 767px) {

  .sbc-svg {
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .sbc-section .collapse {
    width: 100% !important;
    left: 0 !important;
  }

  .sbc-section .caption .btn-primary {
    width: 100%;
    max-width: 410px;
    display: block;
    margin: 0 auto;
  }

  .navigationRibbon .level2Navigation .nav-options {
    height: 20px;
  }

}

#collapseInPerson {
  /* Override js width, as this is a unique collapse section */
  width: 100% !important;
}

@media (min-width: 768px) {
  .sbc-section .thumbnail {
    min-height: 460px;
  }

  .sbc-section .caption .btn-primary {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .sbc-section .thumbnail:hover {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(128, 128, 128, 0.1);
    box-shadow: 0px 10px 10px 0px rgba(128, 128, 128, 0.1);
    z-index: 2;
  }

  .sbc-section .thumbnail:active {
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  /* .caption p {
      max-height: 50px;
      overflow: hidden;
      text-overflow:
  } */

}
